.formation {
    margin: 0;
}

.formation_section {
    width: 100%;
    height: auto;
    padding-bottom: 10%;
}

.formation_title {
    font-family: "Montserrat", sans-serif;
    color: #284d80;
    text-transform: uppercase;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.subtitle_formation {
        font-family: "Montserrat", sans-serif;
    color: #284d80;
    text-transform: uppercase;
    // margin-left: 60%;
    // transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.grid_formation {
     margin: 0;
    margin-top: 2%;
    // position: relative;
    // display: flex;
    // justify-content: center;
    // align-content: center;
    // align-items: center;
    // margin-left: auto; 
}

.grid_forma p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #284d80;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
}

.grid_forma {
    margin-left: 3%;
}

.text_grid_un {
    width: auto;
    height: 150px;
    background: #77bf4b;
    position: relative;
    // right: 2%;
    span {
        color: white;
    }
}

.text_grid_deux {
    width: auto;
    height: 150px;
    background: #386bb1;
    position: relative;
    // right: 2%;
    span {
        color: white;
    }
}

 .text_grid_trois {
    width: auto;
    height: 150px;
    background: #706f6f;
    position: relative;
    margin-right: 5%;
    span {
        color: white;
    }
 }

 .grid_forma span {
     display: flex;
     justify-content: left;
     padding: 25px;
 }

 .pdf {
     display: flex;
     justify-content: center;
     margin-top: 3%;
     font-size: 25px;
     color: #706f6f;
     i {
         font-size: 25px;
         margin-right: 10px;
     }
 }

 .buttonpdf {
     background: none;
     border-style: none;
     border: none;
     font-family: "Montserrat", sans-serif;
     color: #706f6f;
     font-size: 25px;
     display: flex;
     justify-content: center;
     margin-left: auto;
     margin-right: auto;
     margin-top: 3%;
 }